<div class="container">

    <!--
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

          <a class="navbar-brand" href="home.html">Vitae</a>
        </div>
    </nav>
    -->


       <form class="form-signin col-md-6 col-lg-6 col-xl-6 col-xs-12 formCenter">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

	   <form class="form-signin col-md-6 col-lg-6 col-xl-6 col-xs-12 formCenter">
        <h2 class="form-signin-heading">Create Account</h2>
		<label for="firstName" class="sr-only">First Name</label>
        <input type="text" id="firstName" class="form-control" placeholder="First Name" required autofocus>
		<label for="lastName" class="sr-only">Last Name</label>
        <input type="text" id="lastName" class="form-control" placeholder="Last Name" required autofocus>
		<label for="address" class="sr-only">Address</label>
        <input type="text" id="address" class="form-control" placeholder="Address" required autofocus>

		<label for="city" class="sr-only">City</label>
        <input type="text" id="city" class="form-control" placeholder="City" required autofocus>

		<label for="state" class="sr-only">State</label>
        <input type="text" id="state" class="form-control" placeholder="State" required autofocus>


		<label for="zip" class="sr-only">Zip Code</label>
        <input type="text" id="zip" class="form-control" placeholder="Zip Code" required autofocus>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
		<label for="confirmPassword" class="sr-only">Retype Password</label>
        <input type="password" id="confirmPassword" class="form-control" placeholder="Retype Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
	 </br>

	  <h3 class = "companyCreate"><a href = "createCompany.html"> Not an Intern? Create Company Account. </a></h3>

    </div><!-- /.container -->
