<% if current_user.id == 4 || current_user.id == 5 || current_user.id == 6 %>

<h6>Company</h6>
<h4><%= @employerInfo.first.companyName %></h4>
<h6>City</h6>
<h4><%= @employerInfo.first.city %></h4>
<h6>State</h6>
<h4><%= @employerInfo.first.state %></h4>

<br>

<div class = "col-md-6 col-lg-6 col-xs-12">
  <h4>Sort your skills</h4>
  <!-- THIS IS THE SKILLS SORT ORDER LIST HTML -->
  <div id = "SkillsSortOrderList">
    <div id="simpleSkillList" class="list-group">
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Project Management/Tech Writing</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Programming Scripts</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Object Oriented Programming</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Database</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Algorithms</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>System Design/OS</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Business Analysis</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>UI/UX</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Web/Mobile Development</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>System Architecture/System Integration</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>AI</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Game Programming</div>
    </div>
  </div>
  <script>
  // Simple list


  Sortable.create(simpleSkillList, { 	handle: '.my-handle',
  animation: 150 });
  </script>
</div>
<div class = "col-md-6 col-lg-6 col-xs-12">
  <h4>Sort your Work Habits</h4>
  <!-- THIS IS THE CULTURE SORT ORDER LIST HTML -->
  <div id = "CultureSortOrderList">
    <div id="simpleCultureList" class="list-group">
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Creative</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Logical/Analytical</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Problem Solver</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Good Listener</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Oral Communicator</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Written Communicator</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>People Skills</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Punctual</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Accurate</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Efficient</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Multi-Tasker</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Planner</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Researcher</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Team Leader</div>
      <div class="list-group-item my-handle"><span class = "my-handle">:: </span>Team Member</div>
    </div>
  </div>
  <script>
    // Simple list
    Sortable.create(simpleCultureList, {
      handle: '.my-handle',
      animation: 150
    });
  </script>
</div>

<% else %>

<h4>You must be an employer to see this page</h4>
<a href="/profile"><button class="btn btn-default">Back to Profile</button></a>

<% end %>
